/*
 * Search UI: Styles for Query suggestion List "combobox", TO BE eventually replaced by GCWeb reference implementation codebase
 */
 .rough-experimental.query-suggestions {
	background-color: white;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
	left: 0px;
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 60;
}
.rough-experimental.query-suggestions li {
	padding: 5px 10px;
}
.rough-experimental.query-suggestions li:hover {
	background-color: #ddd;
}

/*
 * Render heading level 2 the same size as the heading level 4
 * To be replaced by out-of-the-box GCWeb
 */
.page-type-search h2 {
	font-size: 1.1em;
}

/*
 * Add top margin to alert
 * To be replaced by out-of-the-box GCWeb
 */
.page-type-search .alert {
	margin-top: 30px;
}

.page-type-search .did-you-mean {
	font-weight: 600;
	margin-left: 15px;
}

/*
 * Pagination styles 
 * To be replaced by out-of-the-box GCWeb
 */
.pager>li>button, .pagination>li>button {
	cursor: pointer;
	display: inline-block;
	margin-bottom: 0.5em;
	padding: 10px 16px;
}
.pagination>li>button {
	background-color: #eaebed;
	border: 1px solid #dcdee1;
	color: #335075;
	float: left;
	line-height: 1.4375;
	margin-left: -1px;
	padding: 10px 14px;
	position: relative;
	text-decoration: none;
}
.pagination>li:first-child>button {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0;
}
.pager>li.active>button, .pagination>li.active>button {
	cursor: default;
}
.pagination>.active>button, .pagination>.active>button:focus, .pagination>.active>button:hover {
	background-color: #2572b4;
	border-color: #2572b4;
	color: #fff;
	cursor: default;
	z-index: 3;
}
.pagination>li>.previous-page-button:before, .pagination>li>.next-page-button:after {
    font-family: "Glyphicons Halflings";
    font-weight: 400;
    line-height: 1em;
    position: relative;
    top: .1em;
}
.pagination>li>.previous-page-button:before {
	content: "\e091";
	margin-right: .5em;
}
.pagination>li>.next-page-button:after {
	content: "\e092";
	margin-left: .5em;
}
